
cadastro-produtos/.history/

cadastro-produtos/.node_modules
cadastro-produtos/.pnp
cadastro-produtos/.pnp.js

# testing
cadastro-produtos/coverage

# production
cadastro-produtos/build

# misc
cadastro-produtos/.DS_Store
cadastro-produtos/.env.local
cadastro-produtos/.env.development.local
cadastro-produtos/.env.test.local
cadastro-produtos/.env.production.local

cadastro-produtos/npm-debug.log*
cadastro-produtos/yarn-debug.log*
cadastro-produtos/yarn-error.log*